.nav-logo {
    height: 80px;
    width: auto;

}

* {
    padding: 0px;
    margin: 0px;
}

.searchBarText {
    align-items: center;
    text-align: center;
}

.btn-primary {
    background-color: #fd611a !important;
    border-color: #ffff !important;
    color: #0000008c !important; 
    font-weight: bold !important;
}

.btn-primary:hover {
    opacity: 70%;
    background-color: #fd611a;
}

.fa-glass-icon {
    position:absolute;
    height: 1.3rem;
    opacity: 50%;
    left: 25rem;
    top: 0.6rem;
}

.d-flex {
    position: relative !important;
}